body {
    font-family: 'Montserrat', system-ui, Arial, sans-serif;
    background-color: #f6f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-image {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
   margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #f6f6f7; 
    
}

.login-container label {
    margin-bottom: 10px; 
}

.login-container h2 {
    text-align: center;
    margin-bottom: 0px;
    color: #033969;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 100px 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember-container {
    display: flex; 
    align-items: center; 
    margin-top: 5px;
}

.submit-container {
    text-align: center; 
    margin-top: none; 
}

.login-container input[type="submit"] {
    align-items: center;
    flex-direction: column;
    background-color: #0a1e51;
    color: white;
    padding: 11px 35px;
    margin: 8px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

.login-container input[type="submit"]:hover {
    background-color: #65819f;
}

.back-btn{
padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    background-color: #757272;
    color: white;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #ABA6A6;
}

.error {
    color: darkred;
    text-align: center;
    margin-bottom: 15px;
}

.back-link {
    margin-top: none;
}

.back-link a {
    color: #0a1e51;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        padding: 10px; 
    }

    .login-container {
        width: 95%; 
        padding: 15px; 
    }

    h2 {
        font-size: 24px; 
    }

    input[type="text"], input[type="password"] {
        font-size: 16px; 
    }

    input[type="submit"] {
        font-size: 18px; 
    }
}

@media screen and (max-width: 768px) {
    body {
        height: auto; 
        padding: 20px; 
    }

    .login-container {
        padding: 20px; 
        width: 100%; 
        max-width: none; 
        box-shadow: none; 
    }

    .login-container h2 {
        font-size: 1.5em; 
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 80%; 
        padding: 10px; 
        justify-content: center;
        align-items: center;
    }

    .back-link {
        font-size: 0.9em; 
    }

    .login-container h4 {
        font-size: 1.2em; 
    }

    .back-link a {
        font-size: 0.9em; 
    }
}

